<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>170775697809-upa4ovj3dpu87lnv8s1dvs1f1j4ooram.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.170775697809-upa4ovj3dpu87lnv8s1dvs1f1j4ooram</string>
	<key>API_KEY</key>
	<string>AIzaSyD0IKITfgh1CYIQWflI3mmDeErRRVV2M-0</string>
	<key>GCM_SENDER_ID</key>
	<string>170775697809</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testBionicApp2.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>test-bionic-app</string>
	<key>STORAGE_BUCKET</key>
	<string>test-bionic-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:170775697809:ios:774d3223878a8c13d86230</string>
</dict>
</plist>